.App {
}

.App-header {
  padding: 20px;
  border: solid;
}

.Dropdown {
  padding: 10px;
  width: 150px;
}

.Dropdown-text {
  padding-right: 0px;
  width: 50%;
}

.Dropdown-menu {
  float: right;
  width: 50%;
  display: inline-block;
}

.Dropdown-list {
  margin-bottom: 30px;
}

.Time-series-plot {
}



